body{
    background: #F49C89;
}

#container{
    width: 50%;
    margin: 15% auto;
    text-align: center;
}

button{
    background-color: steelblue;
    border: none;
    margin: 5px;
}

button:hover{
    background-color: slateblue;
}

a:visited{
    color: #581845;
}

